.got{
  font-family: "Palatino Linotype";
}
.auth{
  font-family: "Monotype Corsiva";
}
.adr{
  font-family: "Perpetua Titling MT";
}
.iml{
  font-family: "Viner Hand ITC";
}
.your{
  font-family: 'Montserrat', sans-serif;
}
.projects {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -10rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;
      -webkit-box-shadow: 10px 16px 15px -2px rgba(0,0,0,0.26);
      box-shadow: 10px 16px 15px -2px rgba(0,0,0,0.26);
      display: flex;
      width: 100%;
      padding: 30px;
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 100%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
          0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}
.sub{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.8rem;
  text-align:left;
}
.softuni {
  background: rgb(246,246,246);
  background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(231,11,19,0.4318102240896359) 67%);}
.twps{background: rgb(246,246,246);
  background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(11,182,172,0.4318102240896359) 67%);}
.udemy{
  background: rgb(246,246,246);
  background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(231,143,11,0.4318102240896359) 67%);
}
.cta-btn--hero{
  margin-right: 30px;
}
#qualif{
  background: rgb(246,246,246);
  background: linear-gradient(90deg, rgba(246,246,246,0.3701855742296919) 0%, rgba(215,237,227,1) 11%, rgba(227,216,229,1) 38%, rgba(226,174,213,0.3533788515406162) 64%, rgba(65,11,182,0.7987570028011204) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

